:root {
	--bg-color: #1e1e2e;
	--text-color: #e1e1e1;
	--accent-color: #abe9b3;
	--subtle-color: #c3bac6;
}

html {
	background-color: var(--bg-color);
	color: var(--text-color);
	font-family: Arial, Helvetica, sans-serif;
}

section {
	width: 100%;
	min-height: 80vh;
	max-width: 50rem;
	padding: 2rem;
	margin: 0 auto;
}

a {
	text-decoration: none;
	color: var(--accent-color);
}
a:hover {
	text-decoration: underline;
}
